<% layout("./layouts/boilerplate.ejs") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wander Lust</title>
</head>
<body>
<h1>Edit Your Listing</h1>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" class=" needs-validation" novalidate enctype="multipart/form-data">

        <!-- offset-2 se 2/10 part se shift ho jaega  -->
        <div class="row offset-3 mt-3"  >
          <div class="col-8">
            <div class="mb-3" >
                <label for="title" class="form-label">Title</label>
                <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required> 
                <!-- form control ke through ham bootstap ki class add karwa rahe ahi  -->
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div>
            <div class="mb-3" >
                <label for="description" class="form-label">Description</label>
                <textarea name="listing[description]"  class = "form-control"  required> <%= listing.description %> </textarea>
                <div class="invalid-feedback">
                    Please choose a description
                  </div>
            </div>
            <div class="mb-3" >
                <h3>Origional Listing Image</h3>
              <img src="<%=origionalImageUrl%>" >
            </div>
            <div class="mb-3" >
                <label for="image" class="form-label">Upload New Image</label>
                <input name="listing[image]"  type="file" class="form-control" >
            </div>
            <div class="row">
                <div class="mb-3 col-md-4" >
                    <label for="price" class="form-label">Price</label>
                    <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" required>
                    <div class="invalid-feedback">
                        Please Enter a valid Price.
                      </div>
                </div>

                <div class="mb-3 col-md-8" >
                    <label for="country" class="form-label">Country</label>
                    <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control" required>
                    <div class="invalid-feedback">
                        Please choose a country.
                      </div>
                    
                </div>
            </div>
            <div class="mb-3" >
                <label for="location" class="form-label">location</label>
                <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control" required>
                <div class="invalid-feedback">
                    Please choose a location.
                  </div>
            </div>
            <button class="btn btn-dark add-button " >submit
            </button>
        </form>
          </div>
        </div>
  </body>