<% layout("./layouts/boilerplate.ejs") %> <%= success %>

<body>
    <style>
     #filters{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
     }
     .filter {
        text-align: center;
        margin-right: 2rem;
        margin-top: 2rem;
        opacity: 0.7;
     }
     .filter:hover{
        opacity: 1;
        cursor: pointer;
     }
     .filter p{
        font-size: 0.8rem;
     }
     .Tax-info{
        display: none;
     }
     .tax-toggle{
        border: 1px solid black;
        border-radius: 1rem;
        height: 3.5rem;
        padding: 1rem;
        margin-left: 5rem;
        display: flex;
        align-items: center;
     }
    </style>

    <div id="filters">
        <div class="filter">
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-bed"></i>
            <p>Bed</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-mountain-city"></i></div>
            <p>iconic city</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-mountain"></i></div>
            <p>mountain</p>
        </div>
        <div class="filter">
            <div><i class="fa-brands fa-fort-awesome"></i></div>
            <p>castle</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-person-swimming"></i></div>
            <p>pools</p>
        </div>
        <div class="tax-toggle">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
              </div>
        </div>
    </div>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
        <% if (allListings && allListings.length > 0) { %>
            <% for (let listing of allListings) { %>
                <a href="/listings/<%= listing._id %>" class="listing-link">
                    <div class="card col listing-card">
                        <img src="<%= listing.image.url %>" class="card-img-top" alt="listing image" style="height: 20rem;">
                        <div class="card-body">
                            <p class="card-text">
                                <div class="card-img-overlay">vikas</div>
                                <div><b><%= listing.title %></b></div>
                                <div>&#8377;<%= listing.price ? listing.price.toLocaleString("en-IN") : 'Price not available' %>/night <i class="Tax-info"> &nbsp; &nbsp; +18% GST</i></div>
                            </p>
                        </div>
                    </div>
                </a>
            <% } %>
        <% } else { %>
            <!-- Fallback content if no listings are available -->
        <% } %>
        <!-- <form method="GET" action="/listings/new">
            <button>Create New List</button> (since hamne navbar me is chij ko implement kardiya hai)
        </form> -->
    </div>

    <script>
        let taxSwitch = document.getElementById("flexSwitchCheckDefault");
        taxSwitch.addEventListener("click", ()=>{
            let taxInfo = document.getElementsByClassName("Tax-info");
            for(info of taxInfo) {
               if(info.style.display!= "inline") {
                info.style.display = "inline";

               }else{
                info.style.display = "none";
               }
            }
        console.log("clicked");
        });
    </script>
</body>
